.mermaid {
    text-align: center;
    background: none !important;
}
.mermaid svg{
    max-width: 100%;
}

.markdown-body h1::before,
.markdown-body h2::before,
.markdown-body h3::before,
.markdown-body h4::before,
.markdown-body h5::before,
.markdown-body h6::before{
    content: "";
    width: 0;
    height: 0;
    border: 0.25rem solid #555;
    border-radius: 0.24rem 0 0 0.25rem;
    position: relative;
    margin-left: -0.25rem;
    margin-right: 5px;
}

#sidebar ol a{
    border: none;
}

